@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.header_logo {
  width: 10rem;
}

.title h1 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  margin: auto;
}

.circle {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  margin: 3rem auto;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 0px 50% 50% 50%;
  transform: rotate(44.8deg);
  background-color: rgba(236, 248, 248, 0.7);
}

.split {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.split svg {
  position: relative;
  display: block;
  width: calc(100% - 1.3px);
  height: 225px;
}

.split .shape-fill {
  fill: rgba(236, 248, 248, 0.7);
}

.wave .shape-fill {
  fill: #c49a6c;
}

.bottom-wave {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.bottom-wave svg {
  position: relative;
  display: block;
  width: calc(207% + 1.3px);
  height: 346px;
}

.bottom-wave .shape-fill {
  fill: #423023;
  opacity: 0.7;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .bottom-wave svg {
    width: calc(224% + 1.3px);
    height: 246px;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem 1.5rem;
  margin-bottom: 1.5rem;
}

.footer__text {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* margin: 0 1rem; */
  font-family: "Montserrat", sans-serif;
  color: #ecf8f8;
  text-align: left;
}

.footer__text h2 {
  font-size: 0.5em;
}

.footer__text p {
  font-size: 0.4em;
  line-height: 1.5em;
}

.footer__text p:nth-of-type(1) {
  margin-top: 1em;
}

.f-text {
  margin: 0 0.5rem;
}

@media (min-width: 500px) {
  .footer {
    margin: 1rem 5rem;
  }
  .footer__text h2 {
    font-size: 1em;
  }

  .footer__text p {
    font-size: 0.9em;
  }
}
